html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
}
.container {
    display: block;
    margin: 0;
    width: 70%;
    min-height: 100%;
    height: auto;
    background: #fff;

    margin-left: 15%;
    margin-bottom: -1.6em;
}

.header, .footer {
    position: relative;
    background: #2a2a2a;
    color: #fff
}
.header {
    font-size: 2em;
    font-weight: bold;
    padding: 15px;
}
.push, .footer {
    height: 1.6em important;
    clear:both;
}
.footer {
    box-sizing: border-box;
    width: 70%;
    margin-left: 15%;

    font-size: 0.8em !important;
    text-align: right;
    padding: 0.4em;
    padding-right: 2em;
}

.text{
    padding: 20px;
    padding-left: 30px;
    padding-bottom: 8px;
}
.topic {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
    padding: 15px;
    padding-top: 8px;
}

.dummy {
    height: 40px;
}
.table {
    display: table;
    padding-bottom: 20px;
}

.tableRow {
    display: table-row;
}

.tableRight, .tableLeft {
    display: table-cell;
    padding: 8px;
    padding-left: 30px;
    padding-right: 24px;
}

.tableLeft {
    font-size: 1.5em;
    /*font-style: italic; */
    font-weight: bold;
    color: #666666;
    text-decoration: none;
}

.tableLeft:hover{
    background: #2a2a2a;
    color: #ff3333;
}

.dummyCell {
    padding-left: 25px;
}

.projectCell {
    display: table-cell;
    color: #ffffff;
    padding: 4px;
}
.projectCell:hover {
    background: #f33;
    color: #f33;
}
.projectDescription {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: #151515;
    box-sizing: border-box;
    padding: 0.5em;
    width: 256px;
}
.projectDescription:hover {
    cursor:pointer;
}
